.chat-prompt-container{
    padding: 10px;
    border-radius: 10px;
    background: rgb(238,238, 238);
    margin-bottom: 10px;
    max-width: 500px;
    height: auto;
    right: 0;
    position: relative;
}
.chat-container{
    width: 75%;
}
.chat-prompt-container p{
    margin: 0;
}
.chat-prompt{
    text-align: justify;
}
.chat-image-container{
    width: fit-content;
}

.image-section{
    position: relative;
    width: fit-content;
}
.full-screen-button{
    width: fit-content;
    height: fit-content;
    border: none;
    color: rgb(3, 3, 3,0.3);
    padding: 4px;
    display: flex;
    position: absolute;
    top: 40px;
    right:-35px;
    background:rgb(34, 34, 34,0.1);
    border-radius: 10px;
    cursor: pointer;
}

.image-dot-options{
    width: fit-content;
    height: fit-content;
    border: none;
    color: rgb(3, 3, 3,0.3);
    padding: 4px;
    display: flex;
    position: absolute;
    top: 0;
    right:-35px;
    background:rgb(34, 34, 34,0.1);
    border-radius: 50%;
  
    cursor: pointer;
}

.image-dot-options:hover, .full-screen-button:hover{
    background:rgb(34, 34, 34,0.3);
}
/* .image-options{
    height: fit-content;
} */


.options-dropdown   {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    border-radius: 5px;
    margin-top: 35px;
    margin-left: 5px;
    cursor: pointer;
    height: fit-content;
    width: 160px ;
    border: solid 1px rgb(3, 3, 3,0.3);
}
.option-item{
    text-align: start;
    width: 100%;
    padding: 5PX;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    border: none;
}
.option-item span{
    color: grey;
}
.option-item:hover{
    background: rgb(3, 3, 3,0.1);
}
.option-divider{
    height: 1px;
    width: 100%;
    background-color: rgb(3, 3, 3,0.3);
}
@media (max-width: 767px) {
    .chat-prompt-container{
        max-width: 60%;
    }
    .chat-container{
        width: 100%;
        margin-bottom: 100px;
    }
}