/* logo */
.big-logo{
    width: 200px;
    height: 40px;
    transition: width 0.5s ease;
}

/* buttons */
.button, .button-wh{
    margin: 5px 5px;
    font-size: var(--primary-font-size-1366);
    height: 30px;
    padding: 0;
    width: fit-content;
    padding: 2px 23px;
    background: none;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 400;

}

.button:hover{
    background-color: transparent;
    padding: 2px 23px;
}
.light-button{
    color: black;
    border: solid 2px black;
}
.light-button-wh{
    color: black;
    border: solid 2px black;
}
.light-button:hover{
    background: rgb(0, 0, 0);
    color: white;
}
.dark-button, .dark-button-wh{
    background-color: black;
    border: solid 1px black;
    color: white;
}

.dark-button:hover{
    background-color: white;
    color: black;
}

.p-input {
    padding: 5px 20px;
    min-height: 20px;
    outline: none;
    cursor: text;
    width: 100%;
    margin: 0;
    text-align: start;
}
  
.p-input:empty::before {
    content: "Click to edit..."; /* Placeholder text */
    color: #aaa; /* Gray color for placeholder */
}
.p-input:focus::before {
    content: ""; /* Remove placeholder when focused */
}

/* background */

.light-grey-bg{
    background: rgb(238, 238, 238);
}

/* border-radius */
.br-5{
    border-radius: 5px;
}
.br-10{
    border-radius: 10px;
}
.br-20{
    border-radius: 20px;
}

.br-100{
    border-radius: 100px;
}


.flex-1{
    flex: 1;
}

.profile-pic-small{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    align-items: center;
    background-color: rgb(0, 111, 185);
}

.profile-pic-small p{
    font-size: 22px;
    height: fit-content;
    color: white;
    margin: 0;
}   

.divider-line{
    height: 1px;
    background-color: grey ;
}
.divider-or{
    margin: 0px 10px;  
}


.divider-genimagin{
    margin: 0px 10px; 
}

.link-button{
    display: inline-block;
}
.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
    text-align: start;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;

}