.plan-create-form {
    border: 1px solid #ddd;             
    border-radius: 8px;                 
    padding: 20px;                      
    background-color: #fff;           
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.required-label::after {
    content: " *";
    color: rgb(255, 29, 29);
  }

  .form-title-text{
    /* color: #5a7492; */
    color: #374151;
    font-size: 20px;
} 

.package-name-text, .description-text, .cost-text,.credits-text, .allow-renewal-btn-text, .allow-topup-btn-text, .plan-status-btn-text, .currency-text ,.validity-text ,.model-type-text{
    font-size: 16px;
    font-weight: 550;
    color: #374151;
    /* font-weight: bold;    */
}

.description-box:focus, .package-name-box:focus, .credits-box:focus, .cost-box:focus, .validity-select:focus, .currency-select:focus, .model-type-select:focus{
    outline: none;
    box-shadow: none;
}

.allow-renewal-switch-btn, .allow-topup-switch-btn, .plan-status-switch-btn{
    width: 150px;
}

.create-plan-btn{
    padding: 5px 15px;
    background-color: rgb(8, 8, 8);
    color: #fff;
    border: none;
    box-shadow:0 2px 8px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}

.error-text {
  color: red;
  font-size: 0.85rem;
  margin-top: 4px;
  text-align: start;
}
