.image-detail-outer-container.explore-image-detail-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.explore-image-detail-container .image-detail-container{
    padding: 10px;
    border-radius: 10px;
    width: 95%;
    height: 95%;
    position: relative;
    display: flex;
    justify-content: center;
}

.explore-image-detail-container .image-container{
    width: 60%;
    height: 600px;
}

.explore-image-detail-container .explore-detail-image {
    height: 100%;
    width: 95%;
    object-fit: contain;

}
  
.explore-image-detail-container .image-details {
    margin-top: 20px;
    width: 40%;
}

.explore-image-detail-container .image-details,.explore-detail-image{
    padding: 10px;
}

.explore-image-detail-container .image-prompt{
    border: 1px solid rgb(207, 207, 207);
    border-radius: 10px;
    height: fit-content;
    max-height: 200px;
    overflow: hidden;
}

.explore-image-detail-container .image-prompt-header{
    width: 100%;
    border-bottom: 1px solid rgb(207, 207, 207);
    text-align: start;
    color: rgb(199, 199, 199);
    font-weight: 400;
}

.explore-image-detail-container .prompt-copy-button{
    background-color: #e7e6e6;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
    width: 130px;
}

.explore-image-detail-container .explore-prompt-setting-container{
    background-color: rgb(255, 255, 255);
    height: 80%;
    overflow-y: auto;
    flex: 1;
}
  

.explore-image-detail-container .image-caption{
    border: 1px solid rgb(207, 207, 207);
    border-radius: 10px;
    height: fit-content;
    max-height: 300px; 
    overflow: hidden; 
}
  
.explore-image-detail-container .user-id-tag-outer-container{
    width: 100%;
    border-bottom: 1px solid rgb(207, 207, 207);
}

.explore-image-detail-container .user-id-tag{
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: #f1f1f1;
    border-radius: 100px  ;
}
.explore-image-detail-container .user-id-tag-image{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.explore-image-detail-container .image-settings-tag{
    background-color: #f1f1f1;
    border-radius: 100px;
    padding: 3px 10px;
    margin-right: 5px;

}
.explore-image-detail-container .image-settings-tag .icon{
    height: 20px;
    width: 20px;    
}

.explore-image-detail-container .explore-caption-option , .explore-image-detail-container .edit-button{
    /* border-radius: 100%; */
    border: none;
    border-radius: 50%;
    background-color: #e7e6e6;
    height: 26px;
    width: 26px;
}

.explore-image-detail-container .explore-caption-option .icon,.explore-image-detail-container .edit-button .icon{
    height: 20px;
    width: 20px;
}

.explore-image-detail-container .prompt-text-innner-container,.caption-text-inner-container {
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    white-space: normal; 
}

.explore-image-detail-container .caption-text-container {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
      overflow-y : auto;
      height: 80%;
  } 

  

.explore-image-detail-container .user-like-button p,.user-view-buttons p{
    margin-left: 10px;
}
.explore-image-detail-container .user-like-button,.user-view-button,.share-image-button{
    height: 30px;
    border-radius: 100px;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(207, 207, 207);

}

.explore-image-detail-container .user-like-button .liked-button{
  color: rgb(253, 60, 92);
}
.explore-image-detail-container .caption-inner-text-container p {
  text-align: start;
}
.explore-image-detail-container .delete-button {
    color: rgb(255, 0, 0);
}

.explore-image-detail-container .share-image-container{
    position: relative;
  }
  
.explore-image-detail-container .share-image-icon{
    width: 20px;
    height: 20px;
    color: #212121;
    cursor: pointer;
  }
  
  .explore-image-detail-container .copy-link-button{
    position: absolute;
    width: 90px;
    height: fit-content;
    right: -10px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    cursor: pointer;
    font-size: 12px;
  }
  .explore-image-detail-container .caption-option-copy-link-container{
    position: absolute;
    top: 250px;
    right: 20px;
  }

  .explore-image-detail-container .option-copy-link-button{
    width: 90px;
    height: fit-content;
    right: -10px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    cursor: pointer;
    font-size: 12px;
  }

  .explore-image-detail-container .caption-option-copy-link-container.published-image {
    position: absolute;
    top: 250px;
    right: 20px;
  }
  
  .explore-image-detail-container .delete-button{
    border: 2px solid rgb(207, 207, 207);
  }

  .explore-image-detail-container .image-settings-tag{
    min-width: 80px;

  }

@media (max-width: 767px) {

    .explore-image-detail-container .image-detail-container{
      flex-direction: column;
      align-items: center;
    }
    .explore-image-detail-container .image-details{
      width: 100%
    }
    .explore-image-detail-container .image-container{
      width: 100%;
    }
    .explore-image-detail-container .image-prompt{
      height: 150px;
    }
    .explore-image-detail-container.image-caption{
      height: 200px;
    }
    .explore-image-detail-container .image-container{
      height: 600px;
      
    }
    .image-settings-tag p{
      font-size: 12px;
    }
    .explore-image-detail-container .image-settings-tag{
      min-width: 70px;
    }
}

@media (max-width:480px) {
    .explore-image-detail-container .image-container{
      height: 400px;
    }
    .explore-image-detail-container .image-caption{
      height: 150px;
    }
    .explore-image-detail-container .image-prompt{
      height: 100px;
    }
    .explore-image-detail-container.image-details{
      width: 100%
    }
    .explore-image-detail-container.image-container{
      width: 100%;
    }

}

@media (min-width: 480px) and (max-width: 767px) {

    .explore-image-detail-container .image-detail-container{
        flex-direction: column;
        align-items: center;
      }
      .explore-image-detail-container .image-container{
      height: 400px;
    }
    .explore-image-detail-container .image-caption{
      height: 200px;
    }
    .explore-image-detail-container .image-prompt{
      height: 150px;
    }
    .explore-image-detail-container .image-details{
      width: 100%
    }
    .explore-image-detail-container .image-container{
      width: 100%;
    }
    
}

@media (min-width: 768px) and (max-width: 991px) {
    .explore-image-detail-container .image-container{
      height: 500px;
    }
    .explore-image-detail-container .image-caption{
      height: 300px;
    }
    .explore-image-detail-container .image-prompt{
      height: 200px;
    }
    .explore-image-detail-container .image-details{
      width: 100%
    }
    .explore-image-detail-container.image-container{
      width: 100%;
    }
    
}

@media(max-width:1390px){
  .explore-image-detail-container .image-caption{
    max-height: 200px;
  }
}