.eexplore-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.explore-image-container{
    -webkit-column-count: 3;
    -moz-column-count:3 ;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width:33% ;
    column-width: 33%;  
    padding: 0 12px;
}

.explore-image{
    overflow: hidden;
    height: fit-content;
    width: fit-content;
    cursor: pointer;
    margin-bottom:15px;
}

.explore-image img{
    object-fit:cover;
    width: 100%;
    transition: 200ms;
}
.explore-image img:hover{
    transform: scale(1.05);
}



