.settings-pop-up {
  width: 700px;
  min-height: 0px;
  /* max-height: 600px;  */
  overflow-y: auto;
}

.pop-up-close{
  background-color: rgb(238, 236, 236);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.pop-up-title{
  border-bottom: solid 1px black;
}

.pop-up-headings{
  /* cursor: pointer; */
}
.pop-up-content .model-list{
  justify-content: start;
}

.pop-up-model-content{
  width: 190px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.486);
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.pop-up-model-content.active{
  outline: solid 2px rgba(0, 0, 0, 0.5);
}

.aspect-ratio-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-left: 10px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  background-color: #f8f8f8;
}

.aspect-ratio-box.active{
  border: solid 2px rgba(0, 0, 0, 0.5);
}

/* .pop-up-done-button{
  color: white;
  background-color: black;
  border: none;
  padding: 5px 10px;
} */

.pop-up-model-content.disable , .aspect-ratio-box.disable{
  
  pointer-events: none;
  background-color: #ccc;
  cursor: not-allowed;
}

.pop-up-model-content,
.aspect-ratio-box {
  position: relative; /* Add this */
}
.unclickable {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
  position: relative;
}

.unclickable::after {
  content: "Only allowed when logged in as a user";
  visibility: hidden;
  opacity: 0;
  background: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-size: 12px;
  transition: opacity 0.2s, visibility 0.2s;
  z-index: 999; /* Make sure it shows on top */
  pointer-events: none; /* Ensures tooltip doesn't interfere */
}

/* Show tooltip on hover */
.unclickable:hover::after {
  visibility: visible;
  opacity: 1;
}


.see-more-button{
  color: white;
  font-size: 12px;
  background-color: black;
  border: none;
  padding: 5px 10px;
  height: fit-content;
  cursor: pointer;
  border-radius: 10px;
}

.pop-up-style-container {
  height: 100%;
  overflow-y: hidden;
}

@media (min-width: 450px) and  (max-width: 768px){

  .settings-pop-up {
    width: 90%;
  }
  .pop-up-content .model-list{
    align-items: center;
    justify-content: center;
  }
  .pop-up-model-content{
    width: fit-content;
    
  }
  .settings-pop-up{
    max-height: 520px; 
  }

  
}

@media (max-width: 450px){
  .settings-pop-up{
    max-height: 600px; 
    width: 90%;

  }
  .pop-up-model-content{
    width: fit-content;
    
  }
  
}

@media (min-width: 769px) and  (max-width: 1380px){
  .settings-pop-up{
    max-height: 520px; 
  }
}

@media (min-width: 1380px){
  .settings-pop-up{
    max-height: 600px; 
  }
}


