.navbar{
    background: black;
    color: rgb(243, 243, 243);
    border-radius: 5px;
    border-bottom: 1px solid rgb(222, 222, 222);
}

.nav-link {
    text-decoration: none;
    padding: 10px;
    position: relative;
    transition: background-color 0.3s ease;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease-in-out;
}

.nav-link:hover::after {
    width: 100%;
}


.profile-button{
    /* width: 50px;
    height: 25px; */
    border-radius: 100%;
}

.nav-logo{
    width: 150px;
    height: 30px;
}
.navbar-collapse.collapse .navbar-list {
    flex-direction: row;
    align-items: center; /* Optional: Center align items */
}

/* .sign-in-button{
    

} */
@media (max-width: 992px) {
    .navbar-collapse.collapsing .navbar-list {
        flex-direction: column;
        align-items: center; /* Optional: Center align items */
    }.navbar-collapse.collapse.show .navbar-list {
        flex-direction: column;
        align-items: center; /* Optional: Center align items */
    }    
}