.cover-pic{
    width: 100%;
    height: 200px;
    background-color: black ;
    
}
.profile-pic-big{
    position: relative;
    top:-50px;
    outline: 10px solid white;
    
}
.my-profile{
    border-bottom: solid 2px rgba(72, 72, 72, 0.215);
}

.library-images{
    width: 250px;
    height: 250px;
    border-radius: 10px;
}
.profile-library{
    margin-bottom: 20px;
}