.bgblur-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(25, 25, 25, 0.5);
  backdrop-filter: blur(6px);
  z-index: 1040;
}

.popup-container {
  max-width: 460px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 1050;
  border-radius: 12px;
  overflow: hidden;
}

.modal-content {
  background-color: #1c1c1c;
  color: #eee;
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
}

.modal-content h5 {
  font-weight: 600;
  font-size: 1.25rem;
  color: #effbfd;
}

/* Group container */
.sg-group {
  margin-bottom: 1rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mb-4 {
  margin-bottom: 1.25rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.text-start {
  text-align: left !important;
}

/* Labels */
.sg-label {
  color: #98d9d9 !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}

/* Inputs & Selects */
.sg-input,
.sg-select {
  background-color: #292929;
  border: 1px solid #2f6161;
  border-radius: 8px;
  color: #eee;
  padding: 8px 12px;
  font-size: 0.9rem;
  width: 100%;
  transition: border-color 0.3s ease;
}

.sg-input:focus,
.sg-select:focus {
  border-color: #3fc1c9;
  outline: none;
  box-shadow: none;
  background-color: #323232;
  color: #e0f7f7;
}

.sg-input[readonly] {
  color: #8c8c8d;
  transition: color 0.3s ease;
}

.sg-input[readonly]:focus {
  color: #b2b2b3;
}

/* Extra utility */
.d-flex {
  display: flex !important;
}
.justify-content-between {
  justify-content: space-between !important;
}
.justify-content-end {
  justify-content: flex-end !important;
}
.gap-2 {
  gap: 0.5rem !important;
}

.read-only-text{
  font-size: small;
  color: grey;
}

/* Prompt textarea */
.prompt-textarea {
  resize: none;
  overflow: hidden;
  white-space: pre-wrap;
}

.prompt-textarea.scrollable {
  overflow-y: auto;
}

.prompt-textarea::-webkit-scrollbar {
  width: 8px;
}

.prompt-textarea::-webkit-scrollbar-track {
  background: #3b3a3a;
  border-radius: 4px;
  margin: 1px 0px;
}

.prompt-textarea::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.prompt-textarea::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.no-prompt {
  color: #888;
  font-style: italic;
}

/* Required asterisk */
.required-label::after {
    content: " *";
    color: rgb(255, 29, 29);
}

/* Buttons */
.btn-secondary {
  background-color: #4e6059;
  border: none;
  border-radius: 8px;
  padding: 8px 20px;
  color: #d6d6d6;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.btn-secondary:hover {
  background-color: #6a7f7a;
}

.btn-success {
  background-color: #3fc1c9;
  border: none;
  border-radius: 8px;
  padding: 8px 20px;
  color: #121111;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.btn-success:hover {
  background-color: #44dad0;
}
