.sub-mid-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-nav{
    display: block;
    position: fixed;
    height: 100vh;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1); /* Right shadow */
    width: 250px;
    background: white;
    

}

.side-nav .big-logo{
    width: 200px;
    height: 40px;
    transition: width 0.5s ease;
}
.side-nav .short-logo{
    height: 45px;
    transition: width 0.5s ease;
}
.side-nav.active{
    display: flex;
    z-index: 4 ;
}
.side-nav.in-active{
    z-index: -1;
}

.side-nav .nav-logo-section img{
    margin:10px;
}

.side-nav .logo{
    letter-spacing: 02px;
}
.side-nav .side-nav-options-container{
     height: 100%;
}


.nav-list-item{
    position: relative;
   
}
/* .nav-list-item.selected{
    z-index: 5;
} */
.more-options span{
    color: transparent;
  }
  
.nav-list-item:hover .more-options span {
color: rgb(78, 78, 78);
}

.nav-list-item,.side-nav .side-nav-bottom-items .side-nav-bottom-item{
    display: flex;
    width: 200px;
    text-align: start;

    margin: 2px 0px;
    border-radius: 5px;
    height: 30px; 
}
.nav-list-item.active{
    background-color: rgb(238, 238, 238);
    border: solid 1px rgb(204, 204, 204);
    height: 30px;
    width: 205px;
}

.nav-list-item:hover{
    height: 30px;  
}

.nav-list-item:hover,.side-nav .side-nav-bottom-items .side-nav-bottom-item:hover{
    background-color: rgb(238, 238, 238);
    border: solid 1px hwb(0 29% 0%);
    border: solid 1px rgb(204, 204, 204);

}
.accordion,.accordion-button,.accordion-header,.accordion-item.accordion-collapse,.accordion-header{
    outline: none;
    border: none;
    box-shadow: none;
}
.accordion:focus,.accordion-button:focus,.accordion-header:focus,.accordion-item:focus,.accordion-header,.accordion-collapse:focus{
    border: none;
    outline: none;
    box-shadow: none;
}
.side-nav-close-button {
    display: none;
}
.sidenav-blur-bg{
    display: none;
}
.chat-group-heading{
    color: rgb(161, 161, 161);
}
.chat-group-sub-heading{
    color: rgb(162, 161, 161);
}


@media (max-width: 766px) {
    .side-nav {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: -250px; /* Start off-screen */
        height: 100vh;
        width: 250px;
        background: white;
        box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
        transition: left 0.3s ease-in-out; /* Smooth sliding transition */
        z-index: 4;
    }

    .side-nav.active {
        left: 0; /* Slide in */
    }

     .side-nav-close-button.active{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top:10px;
        right: -50px;
        border: none;
        border-radius: 50%;
        height: 35px;
        width: 35px;
    }
    .side-nav.in-active{
        z-index: 3;
    }
    .sidenav-blur-bg.active{
        display: block;
        z-index: 3;
        position: fixed;
        top: 0;
        height: 100vh;
        width: 100%;
        background: rgba(15, 15, 15, 0.425);
    }
    .more-options span{
        color: rgb(78, 78, 78);
    }
}