.style-popup img{
    width: 100%;
    /* height: 100px;    */
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}

.style-name-heading{
    font-size: 12px;
    font-weight: bold;
    margin: 6px 0;
    /* margin-bottom: 3px !important; */
}

.style-card{
    height: 200px;
}

/* .style-card.active img{
    box-shadow: 3px 3px 4px 4px #dedede;
} */
.style-card.active .style-name-heading , .style-preview-card.active .style-name-heading{
    background-color: #000000;
    color: white;
    border-radius: 10px;
    padding: 3px;
}   

.style-preview-card img{
    height: 100px;
}

@media  (max-width: 400px){
    .style-card{
        height: 150px;
    }
    
}
@media (min-width: 769px) and  (max-width: 1380px){
    .style-preview-card img{
        height: 100px;
        width: 148px;
    
    }
    .style-preview-card{
        /* width: 90px; */
         width: 150px;
         gap: 2px;
        /* margin-left: 10px; */
        display: flex;
        flex-direction: column;
    }

    .style-name-heading{
        font-size: 12px;
        width: 150px;
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 400px) and (max-width: 470px){
    .style-card{
        height: 170px;
    }
    
}