.user-management-container button:disabled{
    opacity: 0.6;
    cursor: not-allowed;
}

.warn-in {
  color: #d97706; /* Tailwind yellow-600 */
  font-weight: 500;
}

.suspend-in {
  color: #2563eb; /* Tailwind blue-600 */
  font-weight: 500;
}

.text-muted {
  color: #9ca3af; /* Tailwind gray-400 */
}
