.form-label {
    margin-bottom: 0.5rem;
    font-size: 18px;
    font-weight: 700px;
    color: #000000;
}

.label-input{
    /* width: 500px;
    height: 38px;
    border-radius: 5px;
    display: flex; */
    
    border: 1px solid grey;
    display: block;
    width: 100%;
    padding: 0.4375rem 1.875rem 0.4375rem 0.875rem;
    -moz-padding-start: calc(0.875rem - 3px);
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.53;
    color: #343739;
    background-color: #fff;
    border-radius: 5px;
}

.label-input:focus{
   
    outline: none;
}

.label-input[readonly] {
    color: #000;
    cursor: default; 
  }
  
  .label-input[readonly]:focus {
    outline: none;
    box-shadow: none;
  }
  
  .dropdown{
    width: fit-content;
  }

  .action-button{
    width: 160px;
  }

  .user-data-container .dropdown-menu {
    right: 0;
  }

  .user-data-container button.dropdown-item:disabled {
    background-color: rgb(168, 168, 168);
    color: #aaa; 
    cursor: not-allowed;
  }
