.App {
  text-align: center;
  min-height: 100vh;
  max-height: auto;

}


.sub-top-bar{
  height: 50px;
  position: fixed;
  background:white;
  padding-left: 0px;
  z-index: 2;   
  transition: margin-left 0.3s ease-in-out;
}




.button span{
  color: rgb(80, 80, 80);
}
.content-section{ 
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-color: white;
  transition: margin-left 0.3s ease-in-out;
  
}
.content-section.big,.sub-top-bar.big{
  margin-left:0px ;
}
.content-section.short ,.sub-top-bar.short{
  margin-left: 250px;
}


.p-relative{
  position: relative;
}

.y-scrollable-container{
  overflow-y:auto;
}



.link{
  text-decoration: none;
  color: black;
}




@media (max-width: 768px){
  .content-section.short ,.sub-top-bar.short{
    margin-left: 0px;
    z-index: 2;
  }
}











/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #000000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}