.App {
  text-align: center;
  min-height: 100vh;
  max-height: auto;
}

.side-nav{
  display: block;
  position: fixed;
  height: 100%;
  background-color: rgb(255, 255, 255);

  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1); /* Right shadow */
  width: 250px;


}
.side-nav.in-active{
  width: 70px;

}
.side-nav .big-logo{
  width: 200px;
  height: 40px;
  transition: width 0.5s ease;
}
.side-nav .short-logo{
  height: 45px;
  transition: width 0.5s ease;
}
.side-nav.active{
  display: flex;
}

.side-nav .nav-logo-section img{
  margin:10px;
}

.side-nav .logo{
  letter-spacing: 02px;
}

.sub-top-bar{
  height: 40px;
  padding: 10px;
  padding-left: 0px;
}

.sub-top-bar.short, .content-section.short{
  margin: 0px 10px 10px 250px ;
}

.sub-top-bar.big , .content-section.big{
  margin: 0px 10px 10px 70px;
 
}

.button{
  background: transparent;
  border: none;
  
}
.button span{
  color: rgb(80, 80, 80);
}
.content-section{
  padding: 10px;
  height: 100%;
  width: 100%;
}